// Breakpoints for screen widths
$width-big-desktop: 1440px;
$width-medium-desktop: 1320px;
$width-small-desktop: 1200px;

$width-large-tablet: 1140px;
$width-medium-tablet: 990px;
$width-small-tablet: 720px;

$width-large-phone: 600px;
$width-medium-phone: 540px;
$width-small-phone: 320px;

// Margins
$margin-large: 60px;
$margin-medium: 40px;
$margin-small: 20px;

// Paddings
$padding-large: 30px;
$padding-medium: 20px;
$padding-small: 10px;

// Colors
$color-title-light: #ffffff;
$color-title-dark: #1a1b1f;
$color-text-light-muted: rgba(255, 255, 255, 0.5);
$color-text-dark-muted: rgba(0, 0, 0, 0.5);
$color-background-dark: #121212;
$color-background-light: #ffffff;
$color-background-body: #ececec;
