@import "variables";

.blog-container {
  max-width: 1280px;
  padding: 0;
  .title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px 60px;
    line-height: 1;
    font-size: 285px;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
}

@media (max-width: 1680px) {
  .blog-container {
    .title {
      font-size: 250px;
    }
  }
}

@media (max-width: 1280px) {
  .blog-container {
    .title {
      font-size: 18.5vw;
    }
  }
}

@media (max-width: 767px) {
  .blog-container {
    .title {
      margin: 0px 0px 28px 0px;
      font-size: 19vw;
    }
  }
}

@media (max-width: 416px) {
  .blog-container {
    .title {
      font-size: 18vw;
    }
  }
}
