@import "variables";

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.app-container {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $color-background-body;
}

.dark {
  padding: 20px 40px 40px 40px;
  background-color: $color-background-dark;
}

.whitearea {
  padding: 60px 40px 40px 40px;
  background-color: $color-background-light;
}

.yellow {
  padding: 20px 40px 40px 40px;
  background-color: $color-background-yellow;
}

@media (min-width: 1680px) {
  .container {
    max-width: $width-large-desktop;
  }
}

@media (max-width: 767px) {
  .dark,
  .yellow {
    padding: 0 20px;
  }

  .whitearea {
    padding: 20px 10px 20px 10px;
  }
}
