@import "variables";

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $color-background-body;
}

.dark {
  padding: 20px 40px 40px 40px;
  background-color: $color-background-dark;
}

.whitearea {
  padding: 60px 40px 40px 40px;
  background-color: $color-background-light;
}

@media (min-width: 1680px) {
  .container {
    max-width: $width-large-desktop;
  }
}
