@import "variables";
@import "mixin";

.industri-design-container {
  padding-top: 40px;
  .industri-design-title {
    @include blockArticlesTitle;
    color: $color-title-light;
  }
  .industri-design-slider-container {
    .slick-list {
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
          border-right: 1px solid rgb(128, 128, 128, 0.5);
          .article-container {
            .article {
              padding: 0 20px;
              &-image {
                aspect-ratio: 16/9;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
              &-data {
                @include blockArticlesData($color-title-light);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1680px) {
  .industri-design-container {
    .industri-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              &-data {
                &-title {
                  font-size: 22px !important;
                  line-height: 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .industri-design-container {
    .industri-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              &-data {
                &-title {
                  font-size: 18px !important;
                  line-height: 24px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
