@import "variables";
@import "mixin";

.pilihan-editor-container {
  .pilihan-editor-title {
    @include blockArticlesTitle;
  }
  .pilihan-editor-slider-container {
    .slick-list {
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
          border-right: 1px solid #e5e5e5;
          .article-container {
            .article {
              padding: 0 20px;
              &-image {
                aspect-ratio: 16/9;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
              &-data {
                @include blockArticlesData($color-title-dark);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1680px) {
  .pilihan-editor-container {
    .pilihan-editor-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              &-data {
                &-title {
                  font-size: 22px !important;
                  line-height: 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .pilihan-editor-container {
    .pilihan-editor-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              &-data {
                &-title {
                  font-size: 18px !important;
                  line-height: 24px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
