@import "variables";
@import "mixin";

.other-blocks-container {
  .right-container {
    .sidebar-image {
      margin: 40px 0;
      img {
        width: 100%;
        overflow-clip-margin: content-box;
        overflow: clip;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 767px) {
  .other-blocks-container {
    .right-container {
      .sidebar-image {
        margin: 30px -22px;
      }
    }
  }
}
