@import "variables";

.teaser-container {
  a {
    text-decoration: none;
    color: $color-title-light;
  }
  .teaser {
    .teaser-image {
      img {
        width: 100%;
      }
    }
    .teaser-data {
      &-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 0.8;
        margin-bottom: 16px;
      }
      &-body {
        font-size: 18px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 200;
      }
      &-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #ffffff;
        opacity: 0.3;
        letter-spacing: 0.5px;
        padding: 20px 0px 10px;
      }
    }
  }
}

.important-teaser {
  padding: 0 20px;
}

.other-teaser {
  padding: 0 20px;

  .teaser-container {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border: none;
    }
  }
}
