@import "variables";
@import "mixin";

.testimonial-container {
  padding-left: 20px;
  .testimonial {
    &-title {
      @include blockArticlesTitle;
    }

    &-user-feedback {
      .feedback-container {
        width: inherit;
        padding-left: 20px;

        &:first-child {
          .feedback {
            padding: 10px 0 24px 24px;
          }
        }

        &:last-child {
          .feedback {
            padding: 24px 0 10px 24px;
            border-bottom: none;
          }
        }

        .feedback {
          display: flex;
          width: inherit;
          border-bottom: 1px solid #e5e5e5;
          border-left: 1px solid #e5e5e5;
          text-align: left;
          padding: 24px 0 24px 20px;
          margin-top: 0;

          &-image {
            padding-left: 0;
            padding-right: 16px;
            width: max-content;
            img {
              border-radius: 50%;
              margin: 0;
              padding: 0;
              width: 36px;
            }
          }

          &-data {
            flex: 1;
            padding: 0;

            &-date {
              display: none;
            }

            &-remember {
              font-size: 13px;
              line-height: 22px;
              font-weight: 400;
              letter-spacing: 0.5px;
              margin-top: 6px;
              color: #121212;
            }

            &-body {
              opacity: 1;
              padding: 0;
              font-size: 13px;
              line-height: 21px;
              color: #404852;
              font-weight: 300;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .testimonial-container {
    margin-bottom: $margin-large;
  }
}

@media (max-width: 767px) {
  .testimonial-container {
    padding: 0 12px;
    .testimonial-user-feedback {
      padding: 0;
      .feedback-container {
        .feedback {
          padding: 10px 0 24px !important;
          border-left: 0;
        }
      }
    }
  }
}
