@import "variables";
@import "mixin";

.tutorial-design-container {
  .tutorial-design-title {
    @include teaserBlockTitle;
  }
  .tutorial-design-slider-container {
    .slick-list {
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
          border-right: 1px solid #e5e5e5;
          .article-container {
            .article {
              padding: 0 20px;
              &-image {
                img {
                  width: 100%;
                  height: auto;
                }
              }
              &-data {
                &-date {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 15px;
                  color: #000000;
                  opacity: 0.5;
                  padding: 16px 0 10px;
                }
                &-title {
                  color: $color-title-dark;
                  font-size: 25px;
                  line-height: 35px;
                  letter-spacing: 0.3px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .tutorial-design-container {
    .tutorial-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              .article-data {
                &-title {
                  font-size: 22px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tutorial-design-container {
    .tutorial-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              .article-data {
                &-title {
                  font-size: 18px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
