@import "variables";
@import "mixin";

.tutorial-design-container {
  .tutorial-design-title {
    @include blockArticlesTitle;
  }
  .tutorial-design-slider-container {
    .slick-list {
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
          border-right: 1px solid #e5e5e5;
          .article-container {
            .article {
              padding: 0 20px;
              &-image {
                img {
                  width: 100%;
                  height: auto;
                }
              }
              &-data {
                @include blockArticlesData($color-title-dark);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .tutorial-design-container {
    .tutorial-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              .article-data {
                &-title {
                  font-size: 22px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tutorial-design-container {
    .tutorial-design-slider-container {
      .slick-list {
        .slick-slide {
          .article-container {
            .article {
              padding: 0 10px !important;
              .article-data {
                &-title {
                  font-size: 18px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
