.arsip-container {
  padding-left: 20px;
}
.arsip-container .arsip-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.arsip-container .arsip-articles .article-container {
  width: inherit;
  padding-left: 20px;
}
.arsip-container .arsip-articles .article-container:first-child .article {
  padding: 10px 0 24px 24px;
}
.arsip-container .arsip-articles .article-container:last-child .article {
  padding: 24px 0 10px 24px;
  border-bottom: none;
}
.arsip-container .arsip-articles .article-container a {
  width: inherit;
}
.arsip-container .arsip-articles .article-container .article {
  width: inherit;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  text-align: left;
  padding: 24px 0 24px 24px;
  margin-top: 0;
}
.arsip-container .arsip-articles .article-container .article-image {
  display: none;
}
.arsip-container .arsip-articles .article-container .article-data {
  padding: 0;
}
.arsip-container .arsip-articles .article-container .article-data-date {
  padding: 0 0 6px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.arsip-container .arsip-articles .article-container .article-data-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #121212;
}
.arsip-container .arsip-articles .article-container .article-data-body {
  display: none;
}
.important-article {
  margin-bottom: 40px;
}

.feature-article .article-container {
  margin: 0 10px;
}
.feature-article a {
  text-decoration: none;
  color: #ffffff;
}
.feature-article .article .article-image img {
  width: 100%;
}
.feature-article .article .article-data-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 16px;
}
.feature-article .article .article-data-body {
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}
.feature-article .article .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.3;
  letter-spacing: 0.5px;
  padding: 20px 0px 10px;
}
.feature-article .other-article .article-container {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.feature-article .other-article .article-container:first-child {
  margin-top: 0;
}
.feature-article .other-article .article-container:last-child {
  border: none;
}
.feature-article .other-article .article-container .article-data-date {
  letter-spacing: 0.5px;
  padding: 4px 0 10px;
  font-size: 12px;
  line-height: 14px;
}
.feature-article .other-article .article-container .article-data-title {
  font-size: 20px;
  line-height: 35px;
}

@media (max-width: 1679px) {
  .article .article-image img {
    width: 100%;
  }
  .article .article-data_date {
    font-size: 11px;
    line-height: 11px;
  }
  .article .article-data_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
  .article .article-data_body {
    font-size: 16px;
    line-height: 26px;
  }
  .other-article .article .article-data_date {
    letter-spacing: 0.5px;
    font-size: 11px;
    line-height: 11px;
  }
  .other-article .article .article-data_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .important-article .article {
    padding-bottom: 38px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .important-article .article .article-data {
    max-width: 50%;
  }
  .important-article .article .article-data-date {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .important-article {
    margin-bottom: 20px;
  }
  .important-article .article {
    margin: 0;
  }
  .important-article .article .article-data {
    max-width: 100%;
  }
  .article-main-w3 .article-data-title {
    font-size: 24px;
    line-height: 32px;
  }
  .article-main-w3 .article-data-body {
    font-size: 16px;
    line-height: 26px;
  }
  .other-article .article {
    margin: 20px 0 0 0;
  }
  .other-article .article .article-image {
    order: 2;
    max-width: 41.66666667%;
  }
  .other-article .article .article-data-date {
    padding: 0 0 10px;
  }
  .other-article .article .article-data-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}
.artikel-lainnya-container {
  margin-bottom: 60px;
}
.artikel-lainnya-container .artikel-lainnya-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-container {
  margin-top: 60px;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-container:first-child {
  margin-top: 0;
}
.artikel-lainnya-container .artikel-lainnya-articles .article {
  padding: 0 0 0 10px;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #1a1b1f;
  opacity: 0.5;
  padding: 16px 0 10px;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-data-title {
  color: #1a1b1f;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-data-body {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #1a1b1f;
  opacity: 0.7;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-image {
  margin-top: 40px;
  order: 2;
  aspect-ratio: 16/9;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-image img {
  object-fit: cover;
  max-height: 214px;
  width: 100%;
}
.artikel-lainnya-container .artikel-lainnya-articles .article-data-date {
  padding: 0 0 10px;
}

@media (max-width: 1680px) {
  .artikel-lainnya-container .artikel-lainnya-articles .article-data-body {
    padding-top: 6px;
  }
}
@media (max-width: 991px) {
  .artikel-lainnya-container {
    margin-bottom: 36px;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-image img {
    max-height: 174px;
  }
}
@media (max-width: 767px) {
  .artikel-lainnya-container .artikel-lainnya-title {
    padding: 0 0 0 10px;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-container {
    padding-bottom: 16px;
    margin-top: 16px;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-container:first-child {
    margin-top: 0;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article {
    padding-left: 0;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-image {
    margin-top: 20px;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-image img {
    max-height: 136px;
  }
  .artikel-lainnya-container .artikel-lainnya-articles .article-data-body {
    display: none;
  }
}
@media (max-width: 500px) {
  .artikel-lainnya-container .artikel-lainnya-articles .article-image img {
    max-height: 84px;
  }
}
@media (max-width: 400px) {
  .artikel-lainnya-container .artikel-lainnya-articles .article-image img {
    max-height: 63px;
  }
}
.artikel-terbaru-container .artikel-terbaru-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article {
  padding: 0 12px;
  margin-bottom: 30px;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #1a1b1f;
  opacity: 0.5;
  padding: 16px 0 10px;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article-data-title {
  color: #1a1b1f;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article-data-body {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #1a1b1f;
  opacity: 0.7;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article-image {
  aspect-ratio: 16/9;
}
.artikel-terbaru-container .artikel-terbaru-articles .article-container .article-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1680px) {
  .artikel-terbaru-container .artikel-terbaru-articles .article-container .article-data-title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .artikel-terbaru-container .artikel-terbaru-articles .article-container .article-data-title {
    font-size: 18px;
    line-height: 24px;
  }
}
.blog-container .title {
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
  margin: 20px 0px 60px;
  line-height: 1;
  font-size: 14vw;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

@media (max-width: 767px) {
  .blog-container .title {
    margin: 0px 0px 28px 0px;
    font-size: 16vw;
  }
}
@media (max-width: 462px) {
  .blog-container .title {
    font-size: 15vw;
  }
}
@media (max-width: 357px) {
  .blog-container .title {
    font-size: 14vw;
  }
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ececec;
}

.dark {
  padding: 20px 40px 40px 40px;
  background-color: #121212;
}

.whitearea {
  padding: 60px 40px 40px 40px;
  background-color: #ffffff;
}

.yellow {
  padding: 20px 40px 40px 40px;
  background-color: #ffd432;
}

@media (min-width: 1680px) {
  .container {
    max-width: 1440px;
  }
}
@charset "UTF-8";
header {
  padding: 20px 40px 0 40px;
  background-color: #121212;
  margin: auto !important;
}
header .logo {
  width: 40px;
  margin-right: 40px;
}
header .header-menu-links {
  display: flex;
  align-items: center;
  padding: 30px 18px;
}
header .header-menu-links a {
  text-decoration: none;
  margin-right: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 200ms;
}
header .header-menu-links a.active {
  color: #ffffff;
}
header .header-menu-links a:hover {
  color: #ffffff;
}
header .header-social-container {
  display: flex;
}
header .header-social-container .header-social-links {
  align-items: center;
  display: flex;
  margin-left: auto;
  width: max-content;
}
header .header-social-container .header-social-links .social-link {
  margin-left: 20px;
}
header .header-social-container .header-social-links .social-link img {
  width: 22px;
  opacity: 0.5;
}

@media (max-width: 1140px) {
  .header-burger-menu {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .header-burger-menu a {
    display: none;
  }
  .header-burger-menu.open {
    padding: 60px 0 0 0;
    opacity: 1;
    top: 0;
    left: 0;
    display: block;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9;
    overflow: auto;
  }
  .header-burger-menu.open a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #1a1b1f;
    opacity: 0.5;
    font-size: 32px;
    line-height: 42px;
    padding: 32px 0 32px 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .header-burger-menu.open a:before {
    padding-right: 23px;
    content: "↳";
  }
  .header-burger-menu.open a.active {
    opacity: 1;
    border-left: 3px solid #1a1b1f;
  }
  .header-burger-menu.open a:hover {
    opacity: 1;
  }
  .menu-links {
    display: none;
  }
  .header-social-links {
    display: none !important;
  }
  .header-social-links.open {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .menu-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }
  .header-menu-links .menu-links.open {
    display: flex;
    flex-direction: column;
  }
  .burger-icon {
    margin: auto 0 auto auto;
    width: max-content;
    display: block;
    cursor: pointer;
  }
  .burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  .burger-icon.open {
    z-index: 10;
    margin: 0px 0 auto auto;
  }
  .burger-icon.open span {
    background-color: #000;
  }
  .burger-icon.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .burger-icon.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media (min-width: 1141px) {
  .burger-icon {
    display: none;
  }
}
.industri-design-container {
  padding-top: 40px;
}
.industri-design-container .industri-design-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
  color: #ffffff;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track {
  display: flex;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide {
  height: inherit;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article {
  padding: 0 20px;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-image {
  aspect-ratio: 16/9;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.5;
  padding: 16px 0 10px;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-title {
  color: #ffffff;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.industri-design-container .industri-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-body {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 1680px) {
  .industri-design-container .industri-design-slider-container .slick-list .slick-slide .article-container .article-data-title {
    font-size: 22px !important;
    line-height: 30px !important;
  }
}
@media (max-width: 767px) {
  .industri-design-container .industri-design-slider-container .slick-list .slick-slide .article-container .article-data-title {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}
.pilihan-editor-container .pilihan-editor-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track {
  display: flex;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide {
  height: inherit;
  border-right: 1px solid #e5e5e5;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article {
  padding: 0 20px;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article-image {
  aspect-ratio: 16/9;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #1a1b1f;
  opacity: 0.5;
  padding: 16px 0 10px;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-title {
  color: #1a1b1f;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-body {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #1a1b1f;
  opacity: 0.7;
}

@media (max-width: 1680px) {
  .pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-slide .article-container .article-data-title {
    font-size: 22px !important;
    line-height: 30px !important;
  }
}
@media (max-width: 767px) {
  .pilihan-editor-container .pilihan-editor-slider-container .slick-list .slick-slide .article-container .article-data-title {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}
.other-blocks-container .right-container .sidebar-image {
  margin: 60px 0;
  padding: 0 20px;
}
.other-blocks-container .right-container .sidebar-image img {
  width: 100%;
}
.yellow .static-block-container {
  margin-top: 40px;
}
.yellow .static-block-container .static-block-data {
  align-self: auto;
}
.yellow .static-block-container .static-block-data-title {
  font-weight: 700;
  color: #1a1b1f;
}
.yellow .static-block-container .static-block-data-body {
  color: #1a1b1f;
}
.yellow .static-block-container .static-block-data-read-more a {
  color: white;
  border: 1px solid #1a1b1f;
  background-color: #1a1b1f;
}

.static-block-container .static-block-data {
  height: max-content;
  padding: 0 40px;
  align-self: center;
}
.static-block-container .static-block-data-title {
  font-weight: 800;
  font-size: 4vw;
  line-height: 65px;
  margin-bottom: 30px;
  color: #ffffff;
}
.static-block-container .static-block-data-body {
  padding-right: 50px;
  margin-bottom: 50px;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.5);
}
.static-block-container .static-block-data-read-more a {
  display: block;
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  border: 2px solid white;
  padding: 15px 75px;
}
.static-block-container .static-block-image {
  display: flex;
  justify-content: center;
}
.static-block-container .static-block-image img {
  height: 500px;
}

@media (max-width: 990px) {
  .static-block-container {
    gap: 50px;
  }
  .static-block-container .static-block-data-title {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 30px;
  }
  .static-block-container .static-block-data-body {
    padding-right: 0;
    margin-bottom: 50px;
    font-size: 25px;
  }
  .static-block-container .static-block-data-read-more {
    display: flex;
    justify-content: center;
  }
  .static-block-container .static-block-data-read-more a {
    font-size: 16px;
    padding: 15px 50px;
  }
}
@media (max-width: 600px) {
  .static-block-container .static-block-data {
    padding: 0;
  }
}
@media (max-width: 470px) {
  .static-block-container .static-block-data {
    height: max-content;
    align-self: center;
  }
  .static-block-container .static-block-data-title {
    font-size: 32px;
  }
  .static-block-container .static-block-data-body {
    font-size: 18px;
  }
  .static-block-container .static-block-image {
    display: flex;
    justify-content: center;
  }
  .static-block-container .static-block-image img {
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 400px) {
  .static-block-container .static-block-data {
    height: max-content;
    align-self: center;
  }
  .static-block-container .static-block-data-title {
    font-size: 26px;
  }
  .static-block-container .static-block-data-body {
    font-size: 18px;
  }
  .static-block-container .static-block-data-read-more a {
    font-size: 16px;
    padding: 15px 20px;
  }
  .static-block-container .static-block-image {
    display: flex;
    justify-content: center;
  }
  .static-block-container .static-block-image img {
    height: 100%;
    overflow: hidden;
  }
}
.testimonial-container {
  padding-left: 20px;
}
.testimonial-container .testimonial-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.testimonial-container .testimonial-user-feedback .feedback-container {
  width: inherit;
  padding-left: 20px;
}
.testimonial-container .testimonial-user-feedback .feedback-container:first-child .feedback {
  padding: 10px 0 24px 24px;
}
.testimonial-container .testimonial-user-feedback .feedback-container:last-child .feedback {
  padding: 24px 0 10px 24px;
  border-bottom: none;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback {
  display: flex;
  width: inherit;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  text-align: left;
  padding: 24px 0 24px 20px;
  margin-top: 0;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-image {
  padding-left: 0;
  padding-right: 16px;
  width: max-content;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-image img {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 36px;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-data {
  flex: 1;
  padding: 0;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-data-date {
  display: none;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-data-remember {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 6px;
  color: #121212;
}
.testimonial-container .testimonial-user-feedback .feedback-container .feedback-data-body {
  opacity: 1;
  padding: 0;
  font-size: 13px;
  line-height: 21px;
  color: #404852;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  .testimonial-container {
    margin-bottom: 60px;
    padding: 0;
  }
}
.tutorial-design-container .tutorial-design-title {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 10px;
  opacity: 0.3;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track {
  display: flex;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide {
  height: inherit;
  border-right: 1px solid #e5e5e5;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide .article-container .article {
  padding: 0 20px;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-image img {
  width: 100%;
  height: auto;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #1a1b1f;
  opacity: 0.5;
  padding: 16px 0 10px;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-title {
  color: #1a1b1f;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.tutorial-design-container .tutorial-design-slider-container .slick-list .slick-track .slick-slide .article-container .article-data-body {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #1a1b1f;
  opacity: 0.7;
}

@media (max-width: 1680px) {
  .tutorial-design-container .tutorial-design-slider-container .slick-list .slick-slide .article-container .article .article-data-title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .tutorial-design-container .tutorial-design-slider-container .slick-list .slick-slide .article-container .article .article-data-title {
    font-size: 18px;
    line-height: 24px;
  }
}